@model DeliverySearchQueryModel

@{
	ViewData["Title"] = "All deliveries";
}

<form method="get">
	<div class="row mb-3">
		<div class="form-group col-md-4 offset-md-2">
			<div class="form-group">
				<label asp-for="SearchTerm" class="form-label"></label>
				<input asp-for="SearchTerm" class="form-control" placeholder="Text" />
			</div>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Sorting" class="form-label"></label>
			<select asp-for="Sorting" class="form-control">
				<option value="0" selected>Date of create</option>
				<option value="1">Date of pick</option>
				<option value="2">Date of delivery</option>
			</select>
		</div>
		<div class="form-group col-md-3">
			<input type="submit" class="btn btn-primary d-none" value="Search" />
		</div>
	</div>
</form>

@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalDeliveries / DeliverySearchQueryModel.DeliveriesPerPage);
	var nextPage = Model.CurrentPage + 1;
	if(nextPage > maxPage - 1)
	{
		nextPage = (int)maxPage;
	}
}

<div class="row">
	<div class="offset-md-1 col-md-10 offset-xl-1 col-xl-10 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">All deliveries</h3>
			</div>
			<div class="card-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th style="width: 70px">Delivery reference</th>
							<th style="width: 70px">Cargo reference</th>
							<th style="width: 170px">Cargo name</th>
							<th style="width: 50px">Cargo weight</th>
							<th style="width: 60px">Created date</th>
							<th style="width: 70px">Pick date</th>
							<th style="width: 60px">Delivery date</th>
							<th style="width: 60px">Pick warehouse</th>
							<th style="width: 210px">Pick address</th>
							<th style="width: 60px">Delivery warehouse</th>
							<th style="width: 210px">Delivery address</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var delivery in Model.Deliveries)
						{
							<tr>
								<td>@delivery.DeliveryRef</td>
								<td>Cargo reference</td>
								<td>Cargo name</td>
								<td>Cargo weight</td>
								<td>@delivery.CreatedAt</td>
								<td>@delivery.PickedAt</td>
								<td>@delivery.DeliveredAt</td>
								<td>@delivery.PickWarehouseId</td>
								<td>@delivery.PickAddress</td>
								<td>@delivery.DeliveryWarehouseId</td>
								<td>@delivery.DeliveryAddress</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			<div class="card-footer clearfix">
				<div class="row">
					<div class="col-md-6">
						<a 
						class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" 
						asp-controller="Delivery" 
						asp-action="All" 
						asp-route-currentPage="@previousPage"
						asp-route-date="@Model.SearchTerm"
						asp-route-model="@((int)(Model.Sorting))">Prev</a>
					</div>
					<div class="col-md-6">
						<a 
						class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
						asp-controller="Delivery" 
						asp-action="All"
						asp-route-currentPage="@nextPage"
						asp-route-date="@Model.SearchTerm"
						asp-route-model="@((int)Model.Sorting)">Next</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.querySelector('#Sorting').addEventListener('change', ev=>{
		ev.target.closest('form').submit()
	})
</script>