@model DeliveryCreateViewModel

@{
	ViewData["Title"] = "Create delivery";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
</head>
<body>
	<section class="content">
		<form id="createDelivery" method="post">
			<div class="offset-md-3 col-md-6 offset-xl-3 col-xl-6 col-sm-12">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Create</h3>
					</div>
					<div class="card-body" style="display: block;">
						<div class="form-group">
							<label asp-for="PickWarehouseId" class="form-label"></label>
							@if (Model.WarehouseNames != null) {
								<select asp-for="PickWarehouseId" class="form-control custom-select">
									<option value=""> - </option>
									@foreach (var delivery in Model.WarehouseNames)
									{
										<option value="@delivery.Key">@delivery.Value</option>
									}
								</select>
							}
							<span asp-validation-for="PickWarehouseId" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="PickAddress" class="form-label"></label>
							<textarea id="deliveryPickAddr" asp-for="PickAddress" class="form-control" rows="3" placeholder="Loading address"></textarea>
							<span asp-validation-for="PickAddress" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="DeliveryWarehouseId" class="form-label"></label>
							@if (Model.WarehouseNames != null) {
								<select asp-for="DeliveryWarehouseId" class="form-control custom-select">
									<option value=""> - </option>
									@foreach (var delivery in Model.WarehouseNames)
									{
										<option value="@delivery.Key">@delivery.Value</option>
									}
								</select>
							}
							<span asp-validation-for="DeliveryWarehouseId" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="DeliveryAddress" class="form-label"></label>
							<textarea id="deliveryAddr" asp-for="DeliveryAddress" class="form-control" rows="3" placeholder="Delivery address"></textarea>
							<span asp-validation-for="DeliveryAddress" class="text-danger"></span>
						</div>
						@if (User.IsInRole("Moderator") || User.IsInRole("Administrator"))
						{
							<div class="form-group">
								<label asp-for="TruckId" class="form-label"></label>
								@if (Model.TruckPlates != null) {
									<select asp-for="TruckId" class="form-control custom-select">
										<option value=""> - </option>
										@foreach (var truck in Model.TruckPlates)
										{
											<option value="@truck.Key">@truck.Value</option>
										}
									</select>
								}
								<span asp-validation-for="TruckId" class="text-danger"></span>
							</div>
						}
					</div>
					<div class="card-footer">
						<a href="/Delivery/All" class="btn btn-secondary">Cancel</a>
						<input type="submit" value="Create" class="btn btn-success float-right">
					</div>
				</div>
			</div>
		</form>
	</section>
	<!-- jQuery -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<partial name="_ValidationScriptsPartial" />
</body>
</html>